<html>
<head>
    <title>Transakcje</title>
</head>
<body>
<!-- Content for Static Frame 'header_frame' -->
<div id="header_content">
    <h3>Historia transakcji</h3>
</div>

<!-- Content for Static Frame 'footer_frame' -->
<div id="footer_content">page
    <pdf:pagenumber> of
        <pdf:pagecount>
</div>

<h2>Dochody</h2>
<table>
    <thead>
    <tr>
        <th scope="col" style="text-align: left">Data</th>
        <th scope="col" style="text-align: left">Nazwa</th>
        <th scope="col" style="text-align: left">Zrodlo</th>
        <th scope="col" style="text-align: left">Opis</th>
        <th scope="col" style="text-align: left">Kwota</th>
    </tr>
    </thead>
    <tbody>
    {% for object in incomes %}
        <tr>
            <td>{{ object.data.day }}/{{ object.data.month }}/{{ object.data.year }}</td>
            <td>{{ object.nazwa }}</td>
            <td>{{ object.zrodlo }}</td>
            <td>{{ object.opis }}</td>
            <td>+{{ object.kwota }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Wydatki</h2>
<table>
    <thead>
    <tr>
        <th scope="col" style="text-align: left">Data</th>
        <th scope="col" style="text-align: left">Nazwa</th>
        <th scope="col" style="text-align: left">Kategoria</th>
        <th scope="col" style="text-align: left">Opis</th>
        <th scope="col" style="text-align: left">Kwota</th>
    </tr>
    </thead>
    <tbody>
    {% for object in expenses %}
        <tr>
            <td>{{ object.data.day }}/{{ object.data.month }}/{{ object.data.year }}</td>
            <td>{{ object.nazwa }}</td>
            <td>{{ object.kategoria }}</td>
            <td>{{ object.opis }}</td>
            <td>-{{ object.kwota }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
