{% extends 'base.html' %}

{% block title %}edytuj wydatek{% endblock %}

{% block jumbotron %}
    <h1 class="display-4"><b>Edytuj wydatek</b></h1>
{% endblock %}

{% block content %}
    <form method="post" class="form-group"> {% csrf_token %}
        <div class="form-group">
            <label for="nazwa">Podaj nazwę wydatku</label></br>
            <input type="text" class="form-control" placeholder="{{ expense.nazwa }}" name="nazwa"/>
        </div>
        <div class="form-group">
            <label for="kategoria">Wybierz kategorię wydatku</label>
            <select class="form-control" name="kategoria">
                <option value="{{ expense.kategoria.id }}">{{ expense.kategoria.nazwa }}</option>
                {% for object in categories %}
                    <option value="{{ object.id }}">{{ object.nazwa }}</option>
                {% endfor %}
            </select>
            </br>
            <a role="button" class="btn btn-primary btn-sm" href="/dodajKategorieWydatku">Dodaj kategorię wydatku</a>
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea class="form-control" rows="3" placeholder="{{ expense.opis }}" name="opis"></textarea>
        </div>
        <div class="form-group">
            <label for="kwota">Kwota</label>
            </br>
            <input type="number" class="float-left" name="kwota" min="0" step="0.01" placeholder="{{ expense.kwota }}">
        </div>
        </br>
        <div class="form-group">
            <label for="data">Data</label>
            </br>
            <input type="date" name="data">
        </div>
        </br>
        <input class="btn btn-primary btn-lg" role="button" type="submit" value="Zatwierdź"/>
        <a role="button" class="btn btn-primary btn-lg" href="/wydatki">Anuluj</a>
        <br/>
        <hr>
        <a role="button" style="color: darkblue" class="btn btn-light" href="/podsumowanie">Powrót do podsumowania</a>&nbsp;
        <a role="button" style="color: darkblue" class="btn btn-light" href="/">Powrót do strony głównej</a>&nbsp;
        <a role="button" style="color: darkblue" class="btn btn-light" href="/wydatki">Przejdź do wydatków</a>&nbsp;
        </br>
    </form>
{% endblock %}