{% extends 'base.html' %}

{% block title %}dodaj źródło{% endblock %}

{% block jumbotron %}
    <h1 class="display-4"><b>Dodaj źródło dochodu</b></h1>
{% endblock %}

{% block content %}
    <form method="post" class="needs-validation" novalidate> {% csrf_token %}
        <div class="form-group">
            <div>
                <label for="nazwa">Podaj nazwę źródła dochodu</label></br>
                <input type="text" class="form-control" placeholder="Nazwa źródła" name="nazwa" required/></br>
                <div class="invalid-feedback">
                    Podaj nazwę źródła dochodu!
                </div>
            </div>
            <input type="submit" value="Dodaj" role="button" class="btn btn-primary btn-lg"/>
            <a role="button" class="btn btn-primary btn-lg" href="/podsumowanie">Anuluj</a>
        </div>
        <hr>
        <a role="button" style="color: darkblue" class="btn btn-light" href="/podsumowanie">Powrót do podsumowania</a>&nbsp;
        <a role="button" style="color: darkblue" class="btn btn-light" href="/">Powrót do strony głównej</a>&nbsp;
        <a role="button" style="color: darkblue" class="btn btn-light" href="/zrodla">Przejdź do źródeł</a>&nbsp;
        <a role="button" style="color: darkblue" class="btn btn-light" href="/dodajPrzychod">Dodaj dochód</a>
        </br>
    </form>
{% endblock %}

