{% extends 'base.html' %}

{% block title %}wydatki{% endblock %}

{% block jumbotron %}
    <h1 class="display-4"><b>Moje wydatki</b></h1>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <p class="alert alert-danger">
                    {{ message }}
                </p>
            {% else %}
                <p class="alert alert-{{ message.tags }}">
                    {{ message }}
                </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Opis</th>
                <th scope="col">Kwota</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for object in expenses %}
                <tr>
                    <td>{{ object.data.day }}/{{ object.data.month }}/{{ object.data.year }}</td>
                    <td>{{ object.nazwa }}</td>
                    <td>{{ object.kategoria }}</td>
                    <td>{{ object.opis }}</td>
                    <td style="float: right; color: red">-{{ object.kwota }}</td>
                    <td><a title="Edytuj wydatek" href="/{{ object.id }}/edytujWydatek">
                        <img alt="Edytuj" src="/static/admin/img/icon-changelink.svg"></a>
                        <a title="Usuń wydatek" href="/{{ object.id }}/usunietoWydatek"
                           onclick="return confirm('Czy na pewno chcesz usunąć wybrany wydatek?')">
                            <img alt="Usuń" src="/static/admin/img/icon-deletelink.svg"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a role="button" style="color: darkblue" class="btn btn-light" href="/podsumowanie">Powrót do podsumowania</a>&nbsp;
    <a role="button" style="color: darkblue" class="btn btn-light" href="/">Powrót do strony głównej</a>
    <a role="button" style="color: darkblue" class="btn btn-light" href="/kategorie">Przejdź do kategorii</a>
    <a role="button" style="color: darkblue" class="btn btn-light" href="/dochody">Przejdź do dochodów</a>
    <a role="button" style="color: darkblue" class="btn btn-light" href="/dodajWydatek">Dodaj wydatek</a>
    </br>
    </br>
{% endblock %}