<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Nie odnaleziono strony</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
{% load static %}
    </div>
    <link rel="stylesheet" type="text/css" href="../static/err404.css" />
    <div style="text-align: center;"><a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by pikisuperstar - www.freepik.com</a></div>
    <footer class="footer">Made by: Zuzanna Plauszta, Natalia Tarasiuk, Ida Milewska</footer>
</body>