{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4"><b>Moje dochody</b></h1>
    </div>

    <table class="table">
        <tr>
            <th> Nazwa </th>
            <th> Źródło </th>
            <th> Kwota </th>
            <th> Opis </th>
        </tr>
        {% for object in incomes %}
            <tr>
                <td> {{ object.nazwa }}</td>
                <td> {{ object.zrodlo }}</td>
                <td> {{ object.kwota }}</td>
                <td> {{ object.opis }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}