{% extends 'base.html' %}

{% block content %}
        <h1 class="display-4"><b>Dodaj wydatek</b></h1>
    </div>
    <form>
        <form>
        <div class="form-group">
            <label for="form.nazwa">Podaj nazwę wydatku</label>
            <input type="text" class="form-control" name="form.nazwa" placeholder="Nazwa wydatku">
        </div>
        <div class="form-group">
            <label for="form.kategoria">Wybierz kategorię wydatku</label>
            <select class="form-control" name="form.kategoria">
                {% for object in categories %}
                    <option>{{ object.nazwa }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="form.opis">Opis</label>
            <textarea class="form-control"name="form.opis" rows="3" placeholder="Opis wydatku"></textarea>
        </div>
        <div class="form-group">
            <label for="form.kwota">Kwota</label>
             </br>
            <input type="number" class="float-left" name="form.kwota" min="1" step="0.01" placeholder="0.00">
        </br>
            </br>
             <input type="submit" value="Dodaj" role="button" class="btn btn-primary btn-lg"/>
        </div>
    </form>
    </form>
{% endblock %}