{% extends 'base.html' %}

{% block content %}
        <h1 class="display-4"><b>Dodaj wydatek</b></h1>
    </div>
    <form>
        <form>
        <div class="form-group">
            <label for="form.nazwa">Podaj nazwę wydatku</label>
            <input type="text" class="form-control" name="form.nazwa" placeholder="Nazwa wydatku">
        </div>
        <div class="form-group">
            <label for="kategoria">Wybierz kategorię wydatku</label>
            <select class="form-control" name="kategoria">
                {% for object in categories %}
                    <option>{{ object.nazwa }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea class="form-control"name="opis" rows="3" placeholder="Opis wydatku"></textarea>
        </div>
        <div class="form-group">
            <label for="kwota">Kwota</label>
             </br>
            <input type="number" class="float-left" name="kwota" min="1" max="15" placeholder="0.00">
        </br>
            </br>
             <a class="btn btn-primary btn-lg" role="button">Dodaj</a>
        </div>
    </form>
    </form>
{% endblock %}