{% extends 'base.html' %}

{% block content %}
        <h1 class="display-4"><b>Dodaj dochód</b></h1>
    </div>
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nazwa</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Wybierz źródło</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Opis</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
{% endblock %}

