{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4"><b>Dodaj dochód</b></h1>
    </div>

    <form method="post" class="form-group"> {% csrf_token %}
        <div class="form-group">
            <label for="nazwa">Podaj nazwę dochodu</label></br>
            <input type="text" class="form-control" placeholder="Nazwa dochodu" name="nazwa"/>
        </div>
        <div class="form-group">
            <label for="zrodlo">Wybierz źródło dochodu</label>
            <select class="form-control" name="zrodlo">
                {% for object in sources %}
                    <option value="{{ object.id }}">{{ object.nazwa }}</option>
                {% endfor %}
            </select>
            </br>
            <a role="button" class="btn btn-primary btn-sm" href="/dodajZrodloDochodu">Dodaj źródło dochodu</a>
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea class="form-control" rows="3" placeholder="Opis dochodu" name="opis"></textarea>
        </div>
        <div class="form-group">
            <label for="kwota">Kwota</label>
            </br>
            <input type="number" class="float-left" name="kwota" min="0" step="0.01" placeholder="0.00">
        </div>
        </br>
        <div class="form-group">
            <label for="data">Data</label>
            </br>
            <input type="date" name="data">
        </div>
        </br>

        <input class="btn btn-primary btn-lg" role="button" type="submit" value="Dodaj"/>
        <a role="button" class="btn btn-primary btn-lg" href="/podsumowanie">Anuluj</a>
    </form>
{% endblock %}

