{% extends 'base.html' %}

{% block content %}
        <h1 class="display-4"><b>Dodaj dochód</b></h1>
    </div>
    <div>
    <form method="post" class="form-group"> {% csrf_token %}
        <div class="form-group">
            <label for="nazwa">Podaj nazwę dochodu</label></br>
            <input type="text" class="form-control" placeholder="Nazwa dochodu" name="nazwa"/>
        </div>
        <div class="form-group">
            <label for="zrodlo">Wybierz źródło dochodu</label>
            <select class="form-control" name="zrodlo">
                {% for object in sources %}
                    <option>{{ object.nazwa }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea class="form-control" rows="3" placeholder="Opis dochodu" name="opis"></textarea>
        </div>
        <div class="form-group">
            <label for="kwota">Kwota</label>
             </br>
            <input type="number" class="float-left" name="kwota" min="1" max="15" placeholder="0.00">
            </br>
            </br>
            <input class="btn btn-primary btn-lg" role="button" type="submit" value="Dodaj"/>
        </div>
    </form>
    </div>
{% endblock %}

