{% extends 'base.html' %}

{% block content %}
        <h1 class="display-4"><b>Dodaj kategorię wydatku</b></h1>
    </div>
    <form method="post"> {% csrf_token %}
        <div class="form-group">
            <label for="nazwa">Podaj nazwę kategorii</label></br>
            <input type="text" class="form-control" placeholder="Nazwa źródła" name="nazwa"/></br>
            <input type="submit" value="Dodaj" role="button" class="btn btn-primary btn-lg"/>
        </div>
    </form>
{% endblock %}

