{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4"><b>Edytuj kategorię wydatku</b></h1>
    </div>

    <form method="post" class="form-group"> {% csrf_token %}
        <div class="form-group">
            <label for="nazwa">Podaj nową nazwę</label>
            <input type="text" class="form-control" name="nazwa" placeholder="{{ category.nazwa}}">
        </div>
        </br>

        <input type="submit" value="Zatwierdź" role="button" class="btn btn-primary btn-lg"/>
        <a role="button" class="btn btn-primary btn-lg" href="/kategorie">Anuluj</a>
    </form>
{% endblock %}