{% extends 'base.html' %}

{% block title %}filtruj wydatki{% endblock %}

{% load static %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {#    <link rel="stylesheet" href="{% static 'templates.css' %}">#}
    <style>
        ul {
            list-style-type: none;
        }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block jumbotron %}
    <main role="main" class="container">
    <h3>Filtruj wydatki</h3>
    </br>
    <form method="GET" action="">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="name_contains" placeholder="Nazwa zawiera..."/>
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_exact" placeholder="Dokładne ID..."/>
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="description_contains" placeholder="Opis zawiera..."/>
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 col-lg-2">
                <label for="kwotaMin">Minimalna Kwota</label>
                <input type="number" min=-10000000 class="form-control" id="kwotaMin" name="kwota_min" placeholder="Min. Kwota">
            </div>
            <div class="form-group col-md-2 col-lg-2">
                <label for="kwotaMax">Maksymalna Kwota </label>
                <input type="number" max="9999999999" class="form-control" id="kwotaMax" name="kwota_max" placeholder="Max. Kwota">
            </div>
            <div class="form-group col-md-2 col-lg-2">
                <label for="dateMin">Data od</label>
                <input type="date" class="form-control" id="dateMin" name="date_min">
            </div>
            <div class="form-group col-md-2 col-lg-2">
                <label for="dateMax">Data do </label>
                <input type="date" class="form-control" id="dateMax" name="date_max">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Kategoria</label>
                <select id="inputState" class="form-control" name="category">
                    <option selected>Wybierz...</option>
                    {% for cat in categories %}
                        <option value="{{ cat.nazwa }}">{{ cat.nazwa }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Szukaj</button>
    </form>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column" style="width: 50%">{{ fig2|safe }}</div>
        <div class="column" style="width: 50%">{{ fig3|safe }}</div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Kwota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wyd in queryset %}
                        <tr>
                            <td>{{ wyd.data.day }}/{{ wyd.data.month }}/{{ wyd.data.year }}</td>
                            <td>{{ wyd.nazwa }}</td>
                            <td>{{ wyd.kategoria }}</td>
                            <td>{{ wyd.opis }}</td>
                            <td style="float: right; color: red">{{ wyd.kwota }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        {{ fig|safe }}
    </div>
    <div class="column" style="width: 50%">{{ fig2|safe }}</div>
    <hr>
    <a role="button" style="color: darkblue" class="btn btn-light" href="/podsumowanie">Powrót do podsumowania</a>&nbsp;
    <a role="button" style="color: darkblue" class="btn btn-light" href="/">Powrót do strony głównej</a>&nbsp;
    <a role="button" style="color: darkblue" class="btn btn-light" href="/filtrujDochody">Przejdź do Filtruj dochody</a>
    &nbsp;
    <a role="button" style="color: darkblue" class="btn btn-light" onclick="downloadTable(false)">Podgląd PDF</a>&nbsp;
    <a role="button" style="color: darkblue" class="btn btn-light" onclick="downloadTable(true)">Pobierz jako PDF</a>
    </br>
    </br>
    </main><!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    {#    <script src="{% static 'downloadPdf.js' %}"></script>#}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function downloadBlob(blob, filename) {
            const a = document.createElement("a");
            a.style = "display: none";
            const url = window.URL.createObjectURL(blob);
            a.setAttribute("href", url);
            a.setAttribute("download", filename);
            document.getElementsByTagName("body")[0].append(a);
            a.click();
            window.URL.revokeObjectURL(url);
            a.remove();
        }

        function viewBlob(blob) {
            const url = window.URL.createObjectURL(blob);
            const newTab = window.open(url, '_blank');
            newTab.focus();
        }

        function generatePdf(requestUrl, searchResult, title, isDownload) {
            let download = isDownload;
            if (download === undefined) {
                download = false;
            }

            const csrfToken = getCookie('csrftoken');
            const request = new Request(
                requestUrl,
                {
                    headers: {
                        'X-CSRFToken': csrfToken,
                        "Content-Type": "application/json; charset=utf-8"
                    }
                }
            );

            const currentUrl = new URL(window.location.href);
            const currentUrlSearchParameters = currentUrl.searchParams;

            const searchParameters = {
                nameContains: currentUrlSearchParameters.get("name_contains"),
                idExact: currentUrlSearchParameters.get("id_exact"),
                descriptionContains: currentUrlSearchParameters.get("description_contains"),
                kwotaMin: currentUrlSearchParameters.get("kwota_min"),
                kwotaMax: currentUrlSearchParameters.get("kwota_max"),
                dateMin: currentUrlSearchParameters.get("date_min"),
                dateMax: currentUrlSearchParameters.get("date_max"),
                inputState: currentUrlSearchParameters.get("zrodlo")
            };

            const requestBody = {searchResult: searchResult, searchParameters: searchParameters, title: title};

            fetch(request, {
                method: 'POST',
                mode: 'same-origin',  // Do not send CSRF token to another domain.
                body: JSON.stringify(requestBody)
            }).then(function (response) {
                const filename = response.headers.get('Content-Disposition').split("filename=")[1].split("\"").join("");
                response.blob().then(blob => {
                    if (download) {
                        downloadBlob(blob, filename);
                    } else {
                        viewBlob(blob);
                    }
                });
            });
        }

        function downloadTable(isDownload) {
            const serverUrl = "{{ request.get_host }}";
            const protocol = {% if request.is_secure %}"https"{% else %}"http"{% endif %};
            const requestUrl = protocol + "://" + serverUrl + "/table/";
            const searchResult = [];
            {% for wydatek in queryset %}
                var row = {};
                row.data = "{{ wydatek.data.day }}/{{ wydatek.data.month }}/{{ wydatek.data.year }}";
                row.nazwa = "{{ wydatek.nazwa }}";
                row.zrodlo = "{{ wydatek.kategoria }}";
                row.opis = "{{ wydatek.opis }}";
                row.kwota = "{{ wydatek.kwota }}";
                searchResult.push(row);
                {% endfor %}
            generatePdf(requestUrl, searchResult, "Wydatki", isDownload)
        }
    </script>
{% endblock %}