{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4"><b>Witaj</b></h1>
    <p class="lead">Jest to aplikacja przeznaczona do kontroli Twoich dochodów i wydatków :)</p>
    <hr class="my-4">
   {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <p class="alert alert-danger">
                    {{ message }}
                </p>
            {% else %}
                <p class="alert alert-{{ message.tags }}">
                    {{ message }}
                </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
        <h4>Witaj {{ username }}!</h4>
        </br>
        <a class="btn btn-primary btn-lg" href="/logout/">Wyloguj się</a>
        <a role="button" class="btn btn-primary btn-lg" href="/podsumowanie">Podsumowanie</a>
        <a class="btn btn-lg" href="/usunietoKonto" role="button" style="background: orangered">Usuń konto</a>
        </br>
    {% else %}
        <p>Kliknij poniżej, aby się zalogować lub założyć nowe konto.</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button" name="Zaloguj">Zaloguj się</a> &nbsp;
        <a class="btn btn-primary btn-lg" href="/register" role="button">Zarejestruj się</a>

    {% endif %}
{% endblock %}