{% extends 'base.html' %}

{% block content %}
        <h1 class="display-4"><b>Witaj</b></h1>
        <p class="lead">Jest to aplikacja przeznaczona do kontroli Twoich dochodów i wydatków :)</p>
        <hr class="my-4">
        <p>Kliknij poniżej, aby się zalogować lub założyć nowe konto.</p>
        <a class="btn btn-primary btn-lg" href="/logowanie" role="button">Zaloguj się</a> &nbsp;
        <a class="btn btn-primary btn-lg" href="/rejestrowanie" role="button">Zarejestruj się</a>
{% endblock %}