{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">SALDO</h1>
    <p class="lead">Twoje saldo: {{ balance|floatformat:"2" }} zł</br>Dzisiejsze dochody: {{ today_incomes }} zł</br>
        Dzisiejsze wydatki: {{ today_expenses }} zł </p>
    </div>
    <div>
    {{ fig|safe }}
    </div>
    <div class="row">
        <div class="column" style="width: 50%">{{ fig2|safe }}</div>
        <div class="column" style="width: 50%">{{ fig3|safe }}</div>
    </div>
    <div class="row">
        <div class="col-9">
            <h4> Historia </h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Źródło/Kategoria</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Kwota</th>
                    <th scope="col">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for object in incomes %}
                    <tr>
                        <td>{{ object.data.day }}/{{ object.data.month }}/{{ object.data.year }}</td>
                        <td>{{ object.nazwa }}</td>
                        <td>{{ object.zrodlo }}</td>
                        <td>{{ object.opis }}</td>
                        <td style="float: right; color: forestgreen">+{{ object.kwota }}</td>
                        <td><a title="Edytuj dochód" href="/{{ object.id }}/edytujDochod">
                            <img alt="Edytuj" src="/static/admin/img/icon-changelink.svg"></a>
                            <a title="Usuń dochód" href="/{{ object.id }}/usunietoDochod"
                               onclick="return confirm('Czy na pewno chcesz usunąć wybrany dochód?')">
                                <img alt="Usuń" src="/static/admin/img/icon-deletelink.svg"></a>
                        </td>
                    </tr>
                {% endfor %}
                {% for object in expenses %}
                    <tr>
                        <td>{{ object.data.day }}/{{ object.data.month }}/{{ object.data.year }}</td>
                        <td>{{ object.nazwa }}</td>
                        <td>{{ object.kategoria }}</td>
                        <td>{{ object.opis }}</td>
                        <td style="float: right; color: red">-{{ object.kwota }}</td>
                        <td><a title="Edytuj wydatek" href="/{{ object.id }}/edytujWydatek">
                            <img alt="Edytuj" src="/static/admin/img/icon-changelink.svg"></a>
                            <a title="Usuń wydatek" href="/{{ object.id }}/usunietoWydatek"
                               onclick="return confirm('Czy na pewno chcesz usunąć wybrany wydatek?')">
                                <img alt="Usuń" src="/static/admin/img/icon-deletelink.svg"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="list-group-flush" style="padding-top: 10px">
                <a class="list-group-item active disabled">Dodawanie</a>
                <a href="/dodajPrzychod" class="list-group-item list-group-item-action">Dodaj dochód</a>
                <a href="/dodajWydatek" class="list-group-item list-group-item-action">Dodaj wydatek</a>
                <a href="/dodajKategorieWydatku" class="list-group-item list-group-item-action">Dodaj kategorię
                    wydatku</a>
                <a href="/dodajZrodloDochodu" class="list-group-item list-group-item-action">Dodaj źródło dochodu</a>
                <a class="list-group-item list-group-item active disabled">Zarządzanie</a>
                <a href="/kategorie" class="list-group-item list-group-item-action">Zarządzaj kategoriami</a>
                <a href="/zrodla" class="list-group-item list-group-item-action">Zarządzaj źródłami</a>
                <a class="list-group-item list-group-item active disabled">Filtrowanie</a>
                <a href="/filtrujWydatki" class="list-group-item list-group-item-action">Filtruj wydatki</a>
                <a href="/filtrujDochody" class="list-group-item list-group-item-action">Filtruj dochody</a>
                <a class="list-group-item list-group-item active disabled">Dokument PDF</a>
                <a href="/pdf_view" target="_blank" class="list-group-item list-group-item-action">Podgląd dokumentu z
                    transakcjami</a>
                <a href="/pdf_download" class="list-group-item list-group-item-action">Pobierz historię transakcji</a>
                <br/>
                <a href="/" class="list-group-item list-group-item-action">Wróć do strony głównej</a>
            </div>
        </div>
    </div>
{% endblock %}