{% extends 'base.html' %}

{% block content %}
        <h1 class="display-4">SALDO</h1>
        <p class="lead">Dzisiejsze dochody: oraz wydatki:</p>
    </div>

    <div class="row">
        <div class="col-9">
            <h3> Twoje saldo </h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Źródło/Kategoria</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Kwota</th>
                </tr>
                </thead>
                <tbody>
                {% for object in incomes %}
                    <tr>
                        <td>{{ object.data }}</td>
                        <td>{{ object.nazwa }}</td>
                        <td>{{ object.zrodlo }}</td>
                        <td>{{ object.opis }}</td>
                        <td style="float: right; color: forestgreen">+{{ object.kwota }}</td>
                    </tr>
                {% endfor %}
                {% for object in expenses %}
                    <tr>
                        <td>{{ object.data }}</td>
                        <td>{{ object.nazwa }}</td>
                        <td>{{ object.kategoria }}</td>
                        <td>{{ object.opis }}</td>
                        <td style="float: right; color: red">-{{ object.kwota }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="btn-group-vertical btn-group-sm">
                <a role="button" class="btn btn-light" href="/dodajPrzychod">Dodaj przychód</a>
                <a role="button" class="btn btn-light" href="/dodajWydatek">Dodaj wydatek</a>
                <a role="button" class="btn btn-light" href="/dodajKategorieWydatku">Dodaj/edytuj kategorię wydatku</a>
                <a role="button" class="btn btn-light" href="/dodajZrodloDochodu">Dodaj/edytuj źródło dochodu
                </a>
            </div>
        </div>
    </div>
{% endblock %}