{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">SALDO</h1>
    <p class="lead">Twoje saldo: {{ balance|floatformat:"2" }} zł</br>Dzisiejsze dochody: {{ today_incomes }} zł</br>
        Dzisiejsze wydatki: {{ today_expenses }} zł </p>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <p class="alert alert-danger">
                    {{ message }}
                </p>
            {% else %}
                <p class="alert alert-{{ message.tags }}">
                    {{ message }}
                </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div>
    {{ fig|safe }}
    </div>
    <div class="row">
        <div class="column" style="width: 50%">{{ fig2|safe }}</div>
        <div class="column" style="width: 50%">{{ fig3|safe }}</div>
    </div>
    <div class="row">
        <div class="col-9">
            <h4> Historia </h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Źródło/Kategoria</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Kwota</th>
                </tr>
                </thead>
                <tbody>
                {% for object in result %}
                    <tr>
                        {% for key, value in object.items %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="list-group-flush" style="margin-top: 35px">
                <a class="list-group-item active disabled text-sm-left" style="height: 40px">Dodawanie</a>
                <a href="/dodajPrzychod" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Dodaj
                    dochód</a>
                <a href="/dodajWydatek" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Dodaj
                    wydatek</a>
                <a href="/dodajKategorieWydatku" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Dodaj
                    kategorię wydatku</a>
                <a href="/dodajZrodloDochodu" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Dodaj
                    źródło dochodu</a>
                <a class="list-group-item list-group-item active disabled"
                   style="height: 40px">Zarządzanie</a>
                <a href="/kategorie" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Zarządzaj
                    kategoriami</a>
                <a href="/zrodla" class="list-group-item list-group-item-action" style="height: 40px; background-color: ghostwhite">Zarządzaj
                    źródłami</a>
                <a class="list-group-item list-group-item active disabled" style="height: 40px">Filtrowanie</a>
                <a href="/filtrujWydatki" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Filtruj
                    wydatki</a>
                <a href="/filtrujDochody" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Filtruj
                    dochody</a>
                <a class="list-group-item list-group-item active disabled" style="height: 40px">Dokument PDF</a>
                <a href="/pdf_view" target="_blank" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Podgląd
                    dokumentu</a>
                <a href="/pdf_download" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Pobierz
                    historię transakcji</a>
                <br/>
                <a href="/" class="list-group-item list-group-item-action"
                   style="height: 40px; background-color: ghostwhite">Wróć do strony
                    głównej</a>
            </div>
        </div>
    </div>
{% endblock %}