{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4"><b>Rejestrowanie nowego użytkownika</b></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Login</label>
                        <input type="email" class="form-control" id="login">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Haslo</label>
                        <input type="password" class="form-control" id="haslo">
                    </div>
                    <a role="button" class="btn btn-primary" href="/podsumowanie">zarejestruj się</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}