{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4"><b>Moje wydatki</b></h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Kategoria</th>
            <th scope="col">Opis</th>
            <th scope="col">Kwota</th>
        </tr>
        </thead>
        <tbody>
            {% for object in expenses %}
                <tr>
                    <td>{{ object.data }}</td>
                    <td>{{ object.nazwa }}</td>
                    <td>{{ object.kategoria }}</td>
                    <td>{{ object.opis }}</td>
                    <td style="float: right">{{ object.kwota }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}